.question-text {
  background-color: #323f4b;
  color: white;
  font-family: "Roboto";
  font-size: 28px;
}

.answer-text {
  color: #5a7184;
  font-family: "Roboto";
  font-size: 16px;
}

.icon-angle {
  color: white;
  font-size: 25px;
}
